.presentation{
  background-color: #ffffff;
  margin:0;
  box-shadow: 1px 1px 12px #555;
}

h1{
  margin-top: 0;
}


.searchbar{
  display: flex;
  justify-content: flex-end;
  border: none;
}

input[type=text] {
  width: 200px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  border: none;
  height: 30px;
  border-radius: 5px;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 100%;
}

.allCard{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.Card{
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  width: 200px;
  margin: 20px;
  text-align: center;
}
